body {
    background: #000428;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #004e92, #000428);  
background: linear-gradient(to right, #004e92, #000428); 
}
header {
    margin: 30px 0;
}
.contenido {
    padding:20px;
}
.contenido-principal {
    background-color: white;
    padding: 30px;
    border-radius: 20px;
}
.presupuesto p{
    margin-bottom: 0;
    font-weight: bold;
}
.presupuesto p span {
    font-weight: normal;
}
#gastos {
    margin-bottom: 30px;
}
h1{
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    color: white;
}
h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    color:#004e92;
    font-size: 22px;
    margin-bottom:30px;
}

ul {
    border-radius: 1%;
}

li {
    display: flex;
    flex-wrap: wrap;
    align-content:space-around;
    width: 100%;
    background-color: rgb(247, 249, 253);
    margin-top: 1em;
}

li p {
    width: 45%;
}

.eliminar {
    width: 10%;
    text-align: center;
    background-color: rgb(146, 21, 21);
    border-radius: 12cm;
    color: white;
    font-weight: bold;
}